{% extends 'common/base.html' %}
{% block title %}
    发表博客
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
{% endblock %}
{% from 'bootstrap/wtf.html' import quick_form %}
{% block page_content %}
    <h2 class="page-header">发表博客</h2>
    <form action="" method="post">
        {{ form.csrf_token }}
        <h3>{{ form.title.label() }}</h3>
        {{ form.title(class="form-control",minlength=6,maxlength=12,placeholder='请输入标题6~12字之间') }}
        {% for err in form.title.errors %}
            <span style="color: red;">{{ err }}</span>
        {% endfor %}
        <br>
        <h3>{{ form.article.label() }}</h3>
        {{ form.article(class="ckeditor",minlength=6,maxlength=500) }}
        {% for err in form.article.errors %}
            <span style="color: red;">{{ err }}</span>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-success">发表</button>
    </form>
{% endblock %}



